<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alpha Blog - New Article</title>
</head>
<body>
  <h1>Create a New Article</h1>

  <%= render 'form' %>

  <p><%=link_to 'Back to Articles', articles_path %></p>
</body>
</html>
