<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alpha Blog - Articles Details</title>
</head>
<body>
  <h1>Showing Article Details</h1>

  <!-- <%= %> this tag will cause inline text to be evaluated and displayed as ruby code.-->
  <p><strong>Title: </strong><%= @article.title %></p>
  <p><strong>Description: </strong><%= @article.description %></p>
</body>
</html>
