<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alpha Blog - About Page</title>
</head>
<body>
  <h1>About Alpha-Blog</h1>

  <%= link_to 'Return Home', root_path %>
</body>
</html>