<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Alpha Blog - About Page</title>
</head>
<body class="d-flex flex-column">
  <div id="page-content">
    <h1>About Alpha-Blog</h1>

    <%= link_to 'Return Home', root_path %>
  </div>
</body>
</html>