<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alpha Blog - Home Page</title>
</head>
<body>
  <h1>Welcome to Alpha-Blog!</h1>

<%= link_to 'About', about_path %> | <%= link_to 'Articles Listing', articles_path %>
</body>
</html>